body {
  margin: 0;
}
header {
  background-color: #1c59a7;
  color: white;
  text-align: center;
  height: 80px;
}
#p1 {
  background-color: #3a70b5;
  width: 33%;
  height: 200px;
  float: left;
}
#ps {
  background-color: #5abac8;
  width: 33%;
  height: 200px;
  float: left;
}
#pp {
  background-color: #86acdd;
  text-align: center;
  width: 34%;
  height: 200px;
  float: left;
}
form {
  clear: left;
  background-color: #86acdd;
  text-align: center;
  height: 300px;
}
footer {
  background-color: #1c59a7;
  color: white;
}
#pp a {
  background-color: yellow;
  color: blue;
  padding: 10px;
}
