@import "./variebles";
header {
  height: 100vh;
}
.load-container {
  background-color: $body_color_dark;
  letter-spacing: 10px;
  animation: $animation_time_load_con;
  position: fixed;
  text-align: center;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  opacity: 100%;
  pointer-events: none;
  z-index: 1000;
  .content-load {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    hr {
      position: absolute;
      left: 50%;
      transform: translateX(-52%);
      width: clamp(15rem, 15%, 120vw);
    }
  }
  @keyframes load-screen {
    0% {
      pointer-events: all;
    }
    20% {
      opacity: 100%;
    }

    90% {
      opacity: 100%;
      filter: blur(0px);
    }
    95% {
      transform: scale(100%);
    }
    99% {
      pointer-events: all;
    }
    100% {
      filter: blur(44px);
      opacity: 0%;
      pointer-events: none;
      transform: scale(120%);
    }
  }
}

#vid-gradient-top {
  position: absolute;
  pointer-events: none;
  width: 100%;
  object-fit: cover;
  height: 100vh;
  background-position-y: 500vh;
  z-index: 3;
  background: $body_color_dark;
  background: linear-gradient(
    180deg,
    rgba(16, 16, 16, 1) 0%,
    rgba(16, 16, 16, 1) 15%,
    rgba(16, 16, 16, 0) 50%,
    rgba(16, 16, 16, 1) 80%,
    rgba(16, 16, 16, 1) 100%
  );
  animation: load-screen-vid 2s ease-in-out;
  @keyframes load-screen-vid {
    0% {
      pointer-events: all;
    }
    20% {
      opacity: 100%;
    }

    90% {
      opacity: 100%;
      filter: blur(0px);
    }
    95% {
      transform: scale(100%);
    }
    99% {
      pointer-events: all;
    }
    100% {
      filter: blur(44px);
      opacity: 0%;
      pointer-events: none;
      transform: scale(120%);
    }
  }
}

.word-load {
  z-index: 1000;
  width: max-content;
  font-size: clamp(0.1vw, 350%, 120vw);
}
.word-load-1 {
  text-shadow: 0px 0px 10px rgb(255, 0, 0);
  color: rgb(255, 0, 0) !important;
}
.word-load-2 {
  animation: $animation_time_load;
}
.word-load-3 {
  animation: $animation_time_load 0.1s;
}
.word-load-4 {
  animation: $animation_time_load 0.2s;
}
.word-load-2,
.word-load-3,
.word-load-4 {
  color: $option_color;
  width: max-content;
  text-shadow: 0px 0px 10px $option_color;
}
@keyframes load-screen-word-effect {
  0% {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  }
  50% {
    text-shadow: 0px 0px 50px $option_color;
  }
  100% {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  }
}
