@import "./variebles";

.load-container {
  animation: $animation_time_load_con;
  position: fixed;
  text-align: center;
  gap: 0px;
  height: 100vh;
  width: 100%;
  opacity: 100%;
  pointer-events: none;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
  .content-load {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    hr {
      width: clamp(15rem, 15%, 120vw);
    }
  }
  @keyframes load-screen {
    0% {
      pointer-events: all;
      background-color: rgb(0, 0, 0);
    }
    20% {
      opacity: 100%;
    }

    90% {
      opacity: 100%;
      filter: blur(0px);
    }
    95% {
      transform: scale(100%);
    }
    99% {
      pointer-events: all;
    }
    100% {
      filter: blur(44px);
      opacity: 0%;
      pointer-events: none;
      background-color: rgb(0, 0, 0);
      transform: scale(120%);
    }
  }
}

.word-load {
  width: max-content;
  font-size: clamp(0.1vw, 350%, 120vw);
}
.word-load-1 {
  text-shadow: 0px 0px 10px rgb(255, 0, 0);
  color: rgb(255, 0, 0) !important;
}
.word-load-2 {
  animation: $animation_time_load;
}
.word-load-3 {
  animation: $animation_time_load 0.1s;
}
.word-load-4 {
  animation: $animation_time_load 0.2s;
}
.word-load-2,
.word-load-3,
.word-load-4 {
  color: $option_color;
  width: max-content;
  text-shadow: 0px 0px 10px $option_color;
}
@keyframes load-screen-word-effect {
  0% {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  }
  50% {
    text-shadow: 0px 0px 50px $option_color;
  }
  100% {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  }
}
