.movie-card {
  line-height: 30px;

  z-index: 998;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  min-width: 15%;
  width: 12rem;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  background-color: rgb(24, 24, 24);
  min-height: 20vh;
  height: 30vh;
  transition: all 0.2s ease-in-out;
  padding: 0px;
  gap: 20px;
  &:hover {
    .title {
      color: $option_color;
    }
    img {
      border-radius: 0px 0px 0% 0%;
      border-bottom: 3px solid red;

      transform: scale(104%);
      margin-bottom: 0.5vh;
    }
  }
  img {
    transition: all 0.2s ease-in-out;
    border-bottom: 3px solid rgba(255, 0, 0, 0.486);
    width: 100%;
    height: 20vh;
    border-radius: 0px 0px 20px 20px;
    object-fit: cover;
  }
  .date {
    color: $option_color;
  }
  .title,
  .date {
    margin: 0;
    &:hover {
      border: 0px 0px 10px red !important;
    }
  }
}

.movie-card-container {
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 20vh;
  display: flex;
  width: 60%;
  margin-top: -20vh;
  z-index: 998;
  text-align: center;
}

.movie_link {
  z-index: 996;
  width: 100%;
  object-fit: cover;
  height: 60vh;
  position: relative;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
}
.movie-link-con {
  min-height: 80vh;
  margin-top: -50vh;
}
.movie-bg {
  position: relative;
  background-color: $body_color_dark;
  width: 80%;
  min-height: 70vh;
  border-radius: 4px;
  padding: 20px;
  z-index: 996;
  box-shadow: 0px 0px 20px black;
}
