@import "./variebles";
nav {
  position: fixed;
  top: 0;
  left: 0;
  background: $nav_color;
  width: 100%;
  min-height: 5vh;
  height: 10vh;
  box-shadow: 0px 0px 5px red;
  opacity: 0%;
  animation: $show_nav;
  @keyframes nav_show {
    0% {
      transform: translateY(-30%);
    }
    100% {
      opacity: 100%;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: 100%;
    list-style: none;
    font-size: 110%;
    li {
      transition: all 0.14s ease-in-out;
      &:hover {
        color: $body_color_dark;

        cursor: pointer;
      }

      .search {
        background-color: $body_color_dark;
        border: 1px solid $body_color_dark;
        padding: 7px;
        border-radius: 3px;
        transition: all 0.18s ease-in-out;
        &:hover {
          background-color: $option_color;
          border: 1px solid $option_color;
          box-shadow: 0px 0px 10px $option_color;
        }
        &:focus {
          border: 1px solid $option_color;
          outline: none;
          background-color: $option_color;
        }
      }
      .search-btn {
        color: $option_color;
        background-color: $body_color_dark;
        border: 1px solid $body_color_dark;
        padding: 7px;
        border-radius: 3px;
        transition: all 0.14s ease-in-out;
        &:hover {
          background-color: $option_color;
          border: 1px solid $option_color;
          box-shadow: 0px 0px 10px $option_color;
          color: $body_color_dark;
          cursor: pointer;
        }
      }
    }
  }
  @media (max-width: 900px) {
  }
}
