//index style
$body_color_dark: rgb(16, 16, 16);

//nav
$nav_color: rgb(190, 43, 43);

$option_color: white;

$show_nav: nav_show 0.5s ease-in-out 2s forwards; //0.5s 2s

//load var

$animation_time_load_con: load-screen 2s ease-in-out forwards; //2s

$animation_time_load: load-screen-word-effect 1s ease-in-out infinite; //1s
