body {
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas:
    "baner baner"
    "panel_lewy panel_prawy"
    "stopka stopka";
  min-height: 50vh;
  background: #8bb381;
  border: 10px solid #8bb381;
  gap: 0;
  margin: 0;
}
main h1 {
  margin: 0;
  padding: 0;
}
.baner {
  grid-area: baner;
  text-align: center;
  color: white;
  font-size: 120%;
  min-height: 10%;
  width: 100;
  background: #336600;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.baner h1 {
  align-self: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.panel_lewy {
  grid-area: panel_lewy;
  background: #afc7c7;
  min-width: 40%;
  min-height: 70%;
  text-align: center;
}
.panel_prawy {
  grid-area: panel_prawy;
  background: #cffcec;
  min-width: 60%;
  font-size: 15px;
  min-height: 70%;
}
.pensja_sekretarek h4 {
  text-align: center;
}
.stopka {
  grid-area: stopka;
  padding: 10px;
  min-height: 10%;
  width: 100;
  clear: both;
  background: #669966;
  color: white;
  text-align: center;
  font-size: 120%;
}
table {
  width: 100%;
  text-align: center;
}
th {
  background-color: green;
}

td,
th {
  border: 2px solid green;
}
