body {
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "baner baner baner baner"
    "panel_lewy panel_prawy"
    "stopka stopka";
  height: 50vh;
  background: #8bb381;
  border: 10px solid #8bb381;
}
main h1 {
  margin: 0;
  padding: 0;
}
.baner {
  grid-area: baner;
  text-align: center;
  color: white;
  font-size: 120%;
  min-height: 10%;
  background: #336600;
}
.panel_lewy {
  grid-area: panel_lewy;
  background: #afc7c7;
  width: 40%;
  height: 70%;
  text-align: center;
}
.panel_prawy {
  grid-area: panel_prawy;

  background: #cffcec;
  width: 60%;
  font-size: 15px;
  height: 70%;
}
.pensja_sekretarek h4 {
  text-align: center;
}
.stopka {
  grid-area: stopka;
  padding: 10px;
  height: 10%;
  width: 100;
  clear: both;
  background: #669966;
  color: white;
  text-align: center;
  font-size: 120%;
  align-self: flex-end;
}
table {
  width: 100%;
  text-align: center;
}
th {
  background-color: green;
}

td,
th {
  border: 2px solid green;
}
