main{
    background: #8BB381;
   height:50vh;

}
.baner{
    
    text-align: center;
    color: white;
    font-size: 120%;
    height: 10%;
    background: #336600;

}
.panel_lewy{
    background: #AFC7C7;
    width: 40%;
    height: 70%;
    text-align: center;
    float: left;
}
.panel_prawy{
    float: left;
    background: #cffcec;
    width: 60%;
    height: 70%;
    font-size: 15PX;
}
.stopka{
    padding: 10px;
    height: 10%;
    clear: both;
    background: #669966;
    color: white;
    text-align: center;
    font-size: 120%;
    font-family: 'Tahoma';


}
table{
    width: 100%;
   
    text-align: center;
    
}
th{
    background-color: green;
}

td,th{
    border: 2px solid green;
}