body {
  margin: 0;
  font-family: tahoma;
  color: white;
}
#baner1,
#baner3,
#baner4 {
  background: #983713;
  width: 17%;
  height: 100px;
  float: left;
}
#baner2 {
  background: #983713;
  width: 49%;
  height: 100px;
  text-align: center;
  float: left;
}
#lewy {
  background: #ff7f50;
  width: 80%;
  height: 500px;
  float: left;
}

#prawy {
  background: #ff7f50;
  width: 20%;
  height: 500px;
  float: left;
}
#stopka {
  background: #983713;
  text-align: center;
}
button {
  background: #d3d3d3;
  color: #2f2f2f;
  border: 2px solid #2f2f2f;
  margin: 5px;
  padding: 10px 30px;
}

input {
  color: orange;
}
a {
  color: white;
}
